.App {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.question-header {
  background-color: #004b7a;
  color: white;
}

.question-answers {
  background-color: #a3deff;
  color: black;
  text-align: left;
}
